---
title: About page for you
layout: base.njk
---




<div class = "container">
        <h1>This is an about page for you</h1>
        <p>Made using html css and served with the jam stack</p>
    </div>
    <script src = "vibe.js">
    </script>